#root{
  font-family: "Kurale", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container{
  width: 1300px;
  padding: 0px 10px;
  margin: 0 auto;
}