@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Kurale&family=Style+Script&display=swap');
body {
  font-family: "Kurale", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url(../../public/icons/bg.png);
  background-size: contain;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container{
  width: 1350px;
  padding: 0px 10px;
  margin: 0 auto;
}